.App{
    font-family:'Monsterrat',sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: auto;
}


@media(max-width:480px){
    .App{
        min-width: 400px;
        margin:0;
        padding: 0;
        display:flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
}