p{
    font-size: 1.6em;
    margin:0;
    margin-bottom: 5px;
}
span{
    font-size: 0.9em;
}

button{
    padding: 10px;
    background-color: navy;
    color: white;
}
button:hover{
    cursor: pointer;
}
